

.sub-button-container {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s ease, height 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container.active .sub-button-container {
  opacity: 1;
  height: auto;
}

.main-button img {
  width: 100%;
  height: 100%;
}

.sub-button-container button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transform: translateX(-100%);
  animation: animateSubButtons 1s ease forwards;
}

.sub-button-container img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.main-button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.main-button:hover {
  filter: drop-shadow(0 0 5px #00BFFF) brightness(150%);
  transition: filter 0.2s ease-out 0.2s;
}

.sub-button-container button:nth-child(1) {
  animation-delay: 0.1s;
}

.sub-button-container button:nth-child(2) {
  animation-delay: 0.2s;
}

.sub-button-container button:nth-child(3) {
  animation-delay: 0.3s;
}

.sub-button-container button:nth-child(4) {
  animation-delay: 0.4s;
}

.sub-button-container button:nth-child(5) {
  animation-delay: 0.5s;
}

.sub-button-container button:nth-child(6) {
  animation-delay: 0.6s;
}

@keyframes animateSubButtons {
  to {
    transform: translateX(0);
  }
}

.sub-button-container button:hover {
  filter: drop-shadow(0 0 5px #00BFFF) brightness(150%);

}

.sub-button-container {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s ease, height 1s ease;
  display: flex;
  justify-content: center;
}

.sub-button-container button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.sub-button-container button:nth-child(1) { transition-delay: 0.2s; }
.sub-button-container button:nth-child(2) { transition-delay: 0.4s; }
.sub-button-container button:nth-child(3) { transition-delay: 0.6s; }


.button-container.active .sub-button-container {
  opacity: 1;
  height: auto;
}

.button-container.active .sub-button-container button {
  opacity: 1;
  transform: translateX(0);
}



/* Media query for small screens */
@media (max-width: 2000px) {

  /* Center align the main button */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Set a fixed width and height for the main button on small screens */
  .main-button {
    width: 500px;
    height: auto;
  }

  /* Scale down the size of sub-buttons for small screens */
  .sub-button-container button {
    width: 500px;
    height: auto;
  }

  /* Set a fixed width and height for the sub-button container on small screens */
  .sub-button-container {
    width: 500px;
  }
}


/* Media query for small screens */
@media (max-width: 1024px) {

  /* Center align the main button */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Set a fixed width and height for the main button on small screens */
  .main-button {
    width: 500px;
    height: auto;
  }

  /* Scale down the size of sub-buttons for small screens */
  .sub-button-container button {
    width: 500px;
    height: auto;
  }

  /* Set a fixed width and height for the sub-button container on small screens */
  .sub-button-container {
    width: 500px;
  }
}

/* Media query for large screens */
@media (max-width: 768px) {
  /* Scale up the font size for large screens */


  /* Align the main button and sub-buttons in a row on large screens */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Set a fixed width and height for the main button on large screens */
  .main-button {
    width: 400px;
    height: auto;
  }

  /* Scale up the size of sub-buttons for large screens */
  .sub-button-container button {

    height: auto;
  }

  /* Set a fixed width and height for the sub-button container on large screens */
  .sub-button-container {
    width: 400px;
  }
}


@media (max-width: 600px) {
  /* Scale up the font size for large screens */


  /* Align the main button and sub-buttons in a row on large screens */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Set a fixed width and height for the main button on large screens */
  .main-button {
    width: 300px;
    height: auto;
  }

  /* Scale up the size of sub-buttons for large screens */
  .sub-button-container button {

    height: auto;
  }

  /* Set a fixed width and height for the sub-button container on large screens */
  .sub-button-container {
    width: 300px;
  }
}





@media (max-width: 300px) {
  /* Scale up the font size for large screens */


  /* Align the main button and sub-buttons in a row on large screens */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Set a fixed width and height for the main button on large screens */
  .main-button {
    width: 200px;
    height: auto;
  }

  /* Scale up the size of sub-buttons for large screens */
  .sub-button-container button {

    height: auto;
  }

  /* Set a fixed width and height for the sub-button container on large screens */
  .sub-button-container {
    width: 200px;
  }
}


:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);

}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2500px;
  margin-left: auto;
  margin-right: auto;
  animation: mymove 5s;
  cursor: pointer;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}


.wrapper1::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper1::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}


.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}


@media (prefers-reduced-motion: no-preference) {
  .card-animation {
    animation: wipe-enter 1s ;
  }
}
@keyframes wipe-enter {
	0% {
		transform: translate(500px,0px);
	}
  50% {

    transform: rotate(-5deg);
  }

}
/* lweft to right*/
@media (prefers-reduced-motion: no-preference) {
  .card-animation1 {
    animation: wipe-enter1 1s ;
  }
}
@keyframes wipe-enter1 {
	0% {
		transform: translate(-500px,0px);
	}
  50% {

    transform: rotate(5deg);
  }

}




